<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bbhs.appbowl2017">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StackActivity2" />
        <activity android:name=".StackActivity" />
        <activity android:name=".StackSettingsActivity" />
        <activity android:name=".StackGameActivity" />
        <activity android:name=".TileSettingsActivity" />
        <activity android:name=".TileGameActivity" />
        <activity android:name=".SummationGame" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".TileWinActivity"></activity>
    </application>

</manifest>